<!DOCTYPE html>
<html>
<head>
  <title>Swiggit</title>
  <%= yield :head %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54209805-1', 'auto');
    ga('send', 'pageview');

  </script>


</head>
<body>

<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "swiggit", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "History",    '#' %></li>
          <li><%= link_to "Places",    '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container-main">
  
<%= yield %>

</div>
<%= yield :footer %>
</body>
</html>
